/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4206)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ESC]    Script Date: 21/10/2017 0:51:31 ******/
CREATE DATABASE [ESC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ESC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ESC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESC]
GO
USE [ESC]
GO
/****** Object:  Table [dbo].[alumno]    Script Date: 21/10/2017 0:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumno](
	[idAlu] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[fecha] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carrera]    Script Date: 21/10/2017 0:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrera](
	[idCar] [int] NOT NULL,
	[nomCar] [varchar](50) NULL,
	[semestre] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[materia]    Script Date: 21/10/2017 0:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materia](
	[idMAt] [int] NOT NULL,
	[nomMat] [varchar](50) NULL,
	[sem] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesor]    Script Date: 21/10/2017 0:51:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesor](
	[idProf] [int] NOT NULL,
	[nomProf] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
